div#HBcurrentGames  {
	padding: 1em;
}

div#HBcurrentGames dl + h3  {
	margin-top: 3em;
}


div#HBcurrentGames dl.currentGames {
	
}

div#HBcurrentGames dl.currentGames dt{
	font-weight: bold;
}

div#HBcurrentGames dl.currentGames span.zeit {
	width: 20%;
	float: left;
}

div#HBcurrentGames dl.currentGames span.heim {
	width: 30%;
	float: left;
}

div#HBcurrentGames dl.currentGames span.gast {
	width: 30%;
	float: left;
}