<?xml version="1.0" encoding="utf-8"?>

<config>
	<fieldset
		name="hvwinfo"
		label="COM_HBMANAGER_CONFIG_SETTINGS_LABEL"
		description="COM_HBMANAGER_CONFIG_SETTINGS_DESC"
		addfieldpath="administrator/components/com_hbmanager/models/fields"
	>

		<field 
			name="hvwurl-page" 
			type="longurl" 
			default="https://www.hvw-online.org/spielbetrieb/ergebnissetabellen/#/league?ogId=3&amp;lId=__ID__&amp;allGames=1" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_HVW_PAGE_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_HVW_PAGE_DESC" 
			size="80" 
		/>

		<field 
			name="hvwurl-json" 
			type="longurl" 
			default="https://spo.handball4all.de/service/if_g_json.php?ca=1&amp;cl=__ID__&amp;cmd=ps&amp;og=3" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_HVW_JSON_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_HVW_JSON_DESC" 
			size="80" 
		/>

		<field 
			name="hvwurl-report" 
			type="longurl" 
			default="https://spo.handball4all.de/misc/sboPublicReports.php?sGID=__ID__" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_HVW_REPORT_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_HVW_REPORT_DESC" 
			size="80" 
		/>

		<field 
			name="hvwurl-live" 
			type="longurl" 
			default="https://spo.handball4all.de/service/if_g_json.php?cmd=po&amp;o=11&amp;og=3" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_HVW_LIVE_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_HVW_LIVE_DESC" 
			size="80" 
		/>

		<field 
			name="hvwurl-ticker" 
			type="longurl" 
			default="https://spo.handball4all.de/service/if_ticker_data.php" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_HVW_TICKER_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_HVW_TICKER_DESC" 
			size="80" 
		/>
		
		<field 
			name="clubindicator" 
			type="text" 
			default="Geisl" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_CLUB_INDICATOR_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_CLUB_INDICATORURL_DESC" 
			size="10"
		/>
		
		<field 
			name="season" 
			type="text" 
			default="2017" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_SEASON_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_SEASON_DESC" 
			size="10"
		/>

		<field 
			name="urlyear" 
			type="text" 
			default="2017" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_URL_YEAR_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_URL_YEAR_DESC" 
			size="10"
		/>
		
		<field 
			name="emaildomain" 
			type="text" 
			default="" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_EMAIL_DOMAIN_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_EMAIL_DOMAIN_DESC" 
			size="15"
		/>
		
		<field 
			name="urlstartdate" 
			type="calendar" 
			default="2015-10-01" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_URL_STARTDATE_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_URL_STARTDATE_DESC" 
			format="%Y-%m-%d" 
		/>
		<!-- $timezone = false; //true: user-time, false:server-time -->
		<field 
			name="timezone" 
			type="radio" 
			default="0" 
			label="COM_HBMANAGER_CONFIG_SETTINGS_TIMEZONE_LABEL" 
			description="COM_HBMANAGER_CONFIG_SETTINGS_TIMEZONE_DESC" 
			class="btn-group btn-group-yesno"
		>
	  			<option value="0">Server</option>
	  			<option value="1">User</option>
		</field>
	</fieldset>
	
	<fieldset
		name="teammenus"
		label="COM_HBMANAGER_CONFIG_TEAMMENU_LABEL"
		description="COM_HBMANAGER_CONFIG_TEAMMENU_DESC"
		addfieldpath="/administrator/components/com_hbmanager/models/fields"
	>
		<field 
			name="menuActive" 
			type="sql" 
			default="" 
			label="COM_HBMANAGER_CONFIG_TEAMMENU_ADULT_TEAMS_LABEL" 
			description="COM_HBMANAGER_CONFIG_TEAMMENU_ADULT_TEAMS_DESC"
			query="SELECT `id`, `alias`, `title` FROM #__menu WHERE `level` &lt;= 2 AND `access` = 1" 
			key_field="id" 
			value_field="title"
		>
			<option value="">Please select your option</option>
		</field>
		
		<field 
			name="menuYouth" 
			type="sql" 
			default="ONLY1" 
			label="COM_HBMANAGER_CONFIG_TEAMMENU_YOUTH_TEAMS_LABEL" 
			description="COM_HBMANAGER_CONFIG_TEAMMENU_YOUTH_TEAMS_DESC"
			query="SELECT `id`, `alias`, `title` FROM #__menu WHERE `level` &lt;= 2 AND `access` = 1" 
			key_field="id" 
			value_field="title"
		>
			<option value="ONLY1">ONLY_ONE</option>
		</field>
		
		<field
			name="show_team"
			type="radio"
			label="COM_HBMANAGER_TEAM_OPTIONS_SHOW_TEAM_LABEL"
			description="COM_HBMANAGER_TEAM_OPTIONS_SHOW_TEAM_DESC"
			default="1"
			class="btn-group btn-group-yesno"
		>
			<option	value="1">JSHOW</option>
			<option	value="0">JHIDE</option>
		</field>
		<field
			name="show_picture"
			type="radio"
			label="COM_HBMANAGER_TEAM_OPTIONS_SHOW_PICTURE_LABEL"
			description="COM_HBMANAGER_TEAM_OPTIONS_SHOW_PICTURE_DESC"
			default="1"
			class="btn-group btn-group-yesno"
		>
			<option	value="1">JSHOW</option>
			<option	value="0">JHIDE</option>
		</field>
		<field
			name="show_training"
			type="radio"
			label="COM_HBMANAGER_TEAM_OPTIONS_SHOW_TRAINING_LABEL"
			description="COM_HBMANAGER_TEAM_OPTIONS_SHOW_TRAINING_DESC"
			default="1"
			class="btn-group btn-group-yesno"
		>
			<option	value="1">JSHOW</option>
			<option	value="0">JHIDE</option>
		</field>
		<field 
			name="show_email" 
			type="list" 
			label="COM_HBMANAGER_TEAM_OPTIONS_EMAIL_DISPLAY_LABEL"
			description="COM_HBMANAGER_TEAM_OPTIONS_EMAIL_DISPLAY_DESC"
			default="alias"
		>
			<option value="none">COM_HBMANAGER_TEAM_OPTIONS_EMAIL_DISPLAY_NONE</option>
			<option value="personal">COM_HBMANAGER_TEAM_OPTIONS_EMAIL_DISPLAY_PERSONAL</option>
			<option value="alias">COM_HBMANAGER_TEAM_OPTIONS_EMAIL_DISPLAY_ALIAS</option>
		</field>

		<field
			name="show_schedule"
			type="radio"
			label="COM_HBMANAGER_TEAM_OPTIONS_SHOW_SCHEDULE_LABEL"
			description="COM_HBMANAGER_TEAM_OPTIONS_SHOW_SCHEDULE_DESC"
			default="1"
			class="btn-group btn-group-yesno"
		>
			<option	value="1">JSHOW</option>
			<option	value="0">JHIDE</option>
		</field>
		<field
			name="show_standings"
			type="radio"
			label="COM_HBMANAGER_TEAM_OPTIONS_SHOW_STANDINGS_LABEL"
			description="COM_HBMANAGER_TEAM_OPTIONS_SHOW_STANDINGS_DESC"
			default="1"
			class="btn-group btn-group-yesno"
		>
			<option	value="1">JSHOW</option>
			<option	value="0">JHIDE</option>
		</field>
		<field
			name="show_standings_type"
			type="list"
			label="COM_HBMANAGER_TEAM_OPTIONS_SHOW_STANDINGSTYPE_LABEL"
			description="COM_HBMANAGER_TEAM_OPTIONS_SHOW_STANDINGSTYPE_DESC"
			default="standard"
		>
			<option	value="standard">COM_HBMANAGER_TEAM_OPTIONS_SHOW_STANDINGSTYPE_STANDARD</option>
			<option	value="details">COM_HBMANAGER_TEAM_OPTIONS_SHOW_STANDINGSTYPE_DETAILS</option>
		</field>
	</fieldset>

</config>