div#hboverview {
	margin: 1em;

}

div#prevGames,
div#nextGames {
	margin: 1em;
}

div#hboverview h2 {
	padding-left: 0.5em;
	margin-top: 2em;
	margin-bottom: 0.25em;
	//color: #04c;
	border-bottom: 1px solid #ddd;
}

div#hboverview h2.current {
	color: #04C;
	font-weight: bold;
}

div#hboverview h3.date {
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	//font-weight: bold;
	color: #444;
}

div#hboverview h4.team {
	margin-top: 1em;
	margin-bottom: 0.25em;
	font-weight: bold;
	display: inline-block;
	width: 18em;
}

div#hboverview div.games > h4.team:first-child {
	margin-top: 0.25em;
}

div#hboverview h4.team a.teamLink {
	color: #444;
	text-decoration: none;
}

div#hboverview h4.team span {
	color: #999;
	font-size: 0.8em;
}

div#hboverview div.games {
	margin-left: 1em;
}

div#hboverview span.time {
	width: 6em;
	margin-left:1em;
	display: inline-block;
	//background: blue;
	color: #999;
}

div#hboverview span.home {
	width: 10em;
	display: inline-block;
}

div#hboverview span.away {
	width: 10em;
	margin-left: 1em;
	display: inline-block;
}

span.score {
	width: 1em;
	display: inline-block;
}

span.own {
	font-weight: bold;
}

span.indicator {
	width: 18px;
	height: 18px;
	opacity:0.7;
	margin-bottom: -0.25em;
	margin-left: 1em;
	display: inline-block;
	//border: 1px solid #666;
	background: url(../images/balls_18px.png) no-repeat 0px 0px #FFFFFF;
}

span.indicator.win {
	background: url(../images/balls_18px.png) no-repeat 0px -54px #FFFFFF;
}

span.indicator.tied {
	background: url(../images/balls_18px.png) no-repeat 0px -36px #FFFFFF;
}

span.indicator.loss {
	background: url(../images/balls_18px.png) no-repeat 0px -18px #FFFFFF;
}

/*div#hboverview div.teamInfo {
	display: inline-block;
	margin: 0.25em 1em;
}*/

div#hboverview div.teamInfo a {
	color: #444;
	cursor: default;
	display: inline-block;
	text-decoration: none;
	margin: 0.25em 1em;
}

div#hboverview div.games .hvwLink {
	background: url(../images/hvw-50x18.png) no-repeat 0px 0px #FFFFFF;
	width: 50px;
	height: 18px;
	opacity:0.7;
	margin: 0em 1em -0.25em;
}

div#hboverview div.games .linkReport {
	background: url(../images/page_white_text.png) no-repeat 0px 3px #FFFFFF;
	//width: 18px;
	height: 19px;
	padding-left: 20px;
	margin: 0em 1em;
}

/* mini standings */


div#hboverview .btnShowTable {
	background: url(../images/standings_20px.png) no-repeat 0px 1px #FFFFFF;
	//width: 23px;
	height: 22px;
	padding-left: 28px; 
	margin: 0em 1em;
}

table.HBminiStandings {
	width: 80%;
	margin: 0.25em 1em 1em;
	display: none;
	
	}

table.HBminiStandings td,
table.HBminiStandings th {
	padding: 0.1em 0.2em;
	border: 0;
	}

table.HBminiStandings.HBhighlight tr:hover td {
	//background: #23B;
	//color: #fff;
	cursor: default;
	}
	
table.HBminiStandings.HBhighlight tr:hover a,
table.HBminiStandings.HBhighlight tr:hover a:link {
	//color: #fff;
	}	
	
table.HBminiStandings.HBhighlight tr.heim td {
	background: #ccc;
	//color: #fff;
	cursor: default;
	}
	

table.HBminiStandings th {
	text-align: center;
	}

table.HBminiStandings td {
	text-align: center;
	}

table.HBminiStandings .textteam {
	text-align: left;
	}
	
table.HBminiStandings th.goals {
	text-align: center;
	}
	
table.HBminiStandings td.goals,
table.HBminiStandings td.points {
	text-align: right;
	padding-right: 0.1em;
	}
	
table.HBminiStandings td.goalsCon,
table.HBminiStandings td.negPoints {
	text-align: left;
	padding-left: 0.1em;
	}
	
table.HBminiStandings td.sepaDots {
	padding: 0.2em 0;
	}