div#hboverview {
	margin: 1em;
	padding-left: 1em;
}

div#hboverview div#prevGames,
div#hboverview div#nextGames {
}

div#hboverview h2 {
	margin-top: 2em;
}

div#hboverview h2:first-child {
	margin-top: 1em;
}

div#hboverview h3 {
    font-size: 1.25em;
    color: #999;
}

div#hboverview h4.team {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

div#hboverview div.games > h4.team:first-child {
	margin-top: 0.25em;
}

div#hboverview h4.team a.teamLink {
	color: #444;
	text-decoration: none;
}

div#hboverview h4.team span {
	color: #999;
	font-size: 0.8em;
}

div#hboverview div.games {
	margin-left: 1em;
}

div#hboverview span.time {
	width: 6em;
	margin-left:1em;
	display: inline-block;
	//background: blue;
	color: #999;
}

div#hboverview span.home {
	width: 10em;
	display: inline-block;
}

div#hboverview span.away {
	width: 10em;
	margin-left: 1em;
	display: inline-block;
}

div#hboverview span.score span.home,
div#hboverview span.score span.away {
	width: 2em;
	display: inline-block;
}

span.own {
	font-weight: bold;
}

span.indicator {
	width: 18px;
	height: 18px;
	opacity:0.7;
	margin-bottom: -0.25em;
	margin-left: 1em;
	display: inline-block;
	//border: 1px solid #666;
	background: url(../images/balls_18px.png) no-repeat 0px 0px #FFFFFF;
}

span.indicator.win {
	background: url(../images/balls_18px.png) no-repeat 0px -54px #FFFFFF;
}

span.indicator.tied {
	background: url(../images/balls_18px.png) no-repeat 0px -36px #FFFFFF;
}

span.indicator.loss {
	background: url(../images/balls_18px.png) no-repeat 0px -18px #FFFFFF;
}

/*div#hboverview div.teamInfo {
	display: inline-block;
	margin: 0.25em 1em;
}*/

div#hboverview div.teamInfo a {
	color: #444;
	cursor: default;
	display: inline-block;
	text-decoration: none;
	margin: 0.25em 1em;
}

div#hboverview div.games .hvwLink {
	background: url(../images/hvw-50x18.png) no-repeat 0px 0px #FFFFFF;
	width: 50px;
	height: 18px;
	opacity:0.7;
	margin: 0em 1em -0.25em;
}

div#hboverview div.games .linkReport {
	background: url(../images/page_white_text.png) no-repeat 0px 3px #FFFFFF;
	//width: 18px;
	height: 19px;
	padding-left: 20px;
	margin: 0em 1em;
}


@media (max-width: 1200px) {
  #hboverview div.game span.time {
    display: block;
  }
  
  #hboverview div.game > span.home {
    margin-left: 1em;
	width: auto;
	min-width: 10em;
  }
  
  #hboverview div.game > span.away {
    margin-left: 1em;
	width: auto;
  }
  
  #hboverview div.game > span.score {
    margin-left: 9.25em;
	display: block;
  }
  
}

/* mini standings */


div#hboverview .btnShowTable {
	background: url(../images/standings_20px.png) no-repeat 0px 1px #FFFFFF;
	//width: 23px;
	height: 22px;
	padding-left: 28px; 
	margin: 0em 1em;
}

div#hboverview table.HBminiStandings {
	width: 82%;
	margin: 0.25em 1em 1em;
	display: none;
	
	}

div#hboverview table.HBminiStandings td,
div#hboverview table.HBminiStandings th {
	padding: 0.1em 0.2em;
	border: 0;
	}

div#hboverview table.HBminiStandings.HBhighlight tr:hover td {
	//background: #23B;
	//color: #fff;
	cursor: default;
	}
	
div#hboverview table.HBminiStandings.HBhighlight tr:hover a,
div#hboverview table.HBminiStandings.HBhighlight tr:hover a:link {
	//color: #fff;
	}	
	
div#hboverview table.HBminiStandings.HBhighlight tr.heim td {
	background: #ccc;
	//color: #fff;
	cursor: default;
	}
	

div#hboverview table.HBminiStandings th {
	text-align: center;
	}

div#hboverview table.HBminiStandings td {
	text-align: center;
	}

div#hboverview table.HBminiStandings .textteam {
	text-align: left;
	}
	
div#hboverview table.HBminiStandings th.goals {
	text-align: center;
	}
	
div#hboverview table.HBminiStandings td.goals,
div#hboverview table.HBminiStandings td.points {
	text-align: right;
	padding-right: 0.1em;
	}
	
div#hboverview table.HBminiStandings td.goalsCon,
div#hboverview table.HBminiStandings td.negPoints {
	text-align: left;
	padding-left: 0.1em;
	}
	
div#hboverview table.HBminiStandings td.sepaDots {
	padding: 0.2em 0;
	}
	
@media (max-width: 767px) {
  div#hboverview table.HBminiStandings {
	width: 90%;
	}
	
	
}