// _hbhomegames.scss

div#HBcurrentGames  {
	padding: 1em;

	div#HBcurrentGames dl + h3  {
		margin-top: 3em;
	}

	dl.currentGames {

		dt{
			font-weight: bold;
		}

		span.zeit {
			width: 20%;
			float: left;
		}

		span.heim {
			width: 30%;
			float: left;
		}

		span.gast {
			width: 30%;
			float: left;
		}
	}
}