div#hbteam h3 {
	margin-top: 1.5em;
}

div#hbteam div.team-table {
	padding: 0.5em 1em;
}

div#hbteam div.team-table table {
	min-width: 100%;
}

div#hbteam div.team-table table {
	min-width: 100%;
}

div#hbteam div#teampic img {
	border: 1px solid #999;
	margin: 5px 10px 0;
	width: 90%;
}

div#hbteam div#teampic dl {
	margin: 5px 10px 1em;
	width: 90%;
}