@charset "UTF-8";
@font-face {
  font-family: "icohb";
  src: url("fonts/icohb.eot?e4u2ud");
  src: url("fonts/icohb.eot?e4u2ud#iefix") format("embedded-opentype"), url("fonts/icohb.ttf?e4u2ud") format("truetype"), url("fonts/icohb.woff?e4u2ud") format("woff"), url("fonts/icohb.svg?e4u2ud#icohb") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-hb]::before, [class*=" icon-hb"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icohb" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hb-ball::before {
  content: "";
}

.icon-hb-image::before {
  content: "";
}

.icon-hb-images::before {
  content: "";
}

.icon-hb-profile::before {
  content: "";
}

.icon-hb-file-empty::before {
  content: "";
}

.icon-hb-files-empty::before {
  content: "";
}

.icon-hb-file-text2::before {
  content: "";
}

.icon-hb-file-picture::before {
  content: "";
}

#teamdata .icon-loop::before,
.updateTeams .icon-loop::before {
  color: #398137;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
#teamdata .spinner {
  position: relative;
}
#teamdata .spinner .btn {
  display: none;
}
#teamdata .spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 7px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}
#teamdata .updateStatus .icon-checkmark {
  color: #398137;
}
#teamdata .updateStatus .icon-warning {
  color: #bd362f;
}
#teamdata .updateStatus .indicator {
  display: none;
  margin-left: 10px;
}
#teamdata .updateStatus .details {
  display: none;
}
#teamdata .updateStatus .details ul {
  list-style-type: none;
  margin-left: 10px;
}
#teamdata .updateStatus .show {
  display: block;
}

#gamedatesForm dl, #gamedatesForm dt, #gamedatesForm dd {
  margin: 0;
  display: inline-block;
}
#gamedatesForm dl {
  margin-bottom: 2em;
}
#gamedatesForm dt {
  margin-right: 0.5em;
}
#gamedatesForm dd {
  margin-right: 3em;
}
#gamedatesForm label, #gamedatesForm select {
  padding: 4px 6px;
  margin: 0;
}

#gamesnext td.report textarea,
#gamesprev td.report textarea {
  width: auto;
}

#printnews .printsheet {
  background: #fcfcfc;
  margin: 1em;
  padding: 1em;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px gray;
  width: 33em;
  text-align: justify;
}

#gamedetails #modal-confirm .modal-body {
  max-height: 500px;
  overflow: scroll;
}
#gamedetails #import-preview {
  margin: 1em 2em;
  padding: 0.5em;
  margin-bottom: 5em;
}
#gamedetails #import-preview table tr {
  border-bottom: 1px solid #ddd;
}
#gamedetails #import-preview table tr:nth-child(even) {
  background: #eee;
}
#gamedetails #import-preview table td {
  padding: 0.1em 0.25em;
}

#gamesall h4,
#gameshome h4 {
  margin-top: 3em;
}
#gamesall table.schedule,
#gameshome table.schedule {
  min-width: 40em;
}
#gamesall table.schedule tr:nth-child(even),
#gameshome table.schedule tr:nth-child(even) {
  background: #eee;
}
#gamesall table.schedule td,
#gameshome table.schedule td {
  padding: 0.1em 0.5em;
}
