div#hboverview h3 {
	margin-top: 2em;
}

div#hboverview h2 + h3 {
	margin-top: 0.5em;
}

div#hboverview h3 + div {
	margin-left: 1em;
}

div#hboverview h4 {
	display: inline-block;
	min-width: 13em;
	margin-top: 1em;
}

div#hboverview h4 + div {
	//background:red;
	display: inline-block;
}

div#hboverview a.hvwlink,
div#hboverview a.btnShowTable {
	display: inline-block;
	margin: 0.1em 1em 0.1em 0;
	color: #333;
	font-weight:bold;
	opacity: 0.4;
	cursor: pointer;
}

div#hboverview a.hvwlink:hover,
div#hboverview a.btnShowTable:hover  {
	opacity: 1;
}

div#hboverview hr {
	margin: 2em 0 4em 0;
	border: 1px solid #ddd;
}

div#hboverview a.hvwlink {
	background-image: url("../images/hvw-50x18.png");
	background-position: 0 2px;
	background-repeat: no-repeat;
	padding-left: 55px;
	text-indent: -9999px;
}

div#hboverview a.btnShowTable {
	background-image: url("../images/standings_18px.png");
	background-repeat: no-repeat;
	padding-left: 2em;
	text-indent: -9999px;
}

div#hboverview table.miniStandings {
	margin: 1em 0.5em 1em 1em;
	display: none;	
	text-align: center;
}

div#hboverview table.miniStandings td {
	padding: 0.2em 0.3em;
}

div#hboverview table.miniStandings th.textteam,
div#hboverview table.miniStandings td.textteam{
	text-align: left;
}

div#hboverview table.miniStandings td.negPoints,
div#hboverview table.miniStandings td.goalsCon {
	text-align: left;
}

div#hboverview table.miniStandings td.points,
div#hboverview table.miniStandings td.goals{
	text-align: right;
}

div#hboverview table.miniStandings td.sepaDots{
	padding-left: 0;
	padding-right: 0;
}



div#hboverview div.gameInfo {
	//background: red;
	padding: 0 0.5em;
	max-width: 36em;
	display: flex;
	flex-direction: row;
	//align-items: flex-start;
}

div#hboverview div.gameInfo > span {
	//background: green;
	display: inline-block;
}

div#hboverview div.gameInfo span.time {
	width: 6em;
	flex-grow: 1;
}

div#hboverview div.gameInfo span.team {
	width: 22em;
	flex-grow: 4;
	//background: orange;
	display:flex;		
	justify-content: space-around;
}

div#hboverview div.gameInfo span.team span {
	width: 10em;
	padding: 0 0.5em;
	flex-grow: 4;
}

div#hboverview div.gameInfo span.gameResult {
	width: 7em;
	flex-grow: 1;
	display:flex;
}

div#hboverview div.gameInfo span span {
	padding: 0 0.5em;
}

div#hboverview div.gameInfo span span.indicator {
	display: inline-block;
	padding: 0;
	width:20px;
	height: 20px;
	opacity: 0.7;
	background-image: url('../images/balls_20px.png');
}

div#hboverview div.gameInfo span span.indicator.win {
	background-position: 0px 20px;
}

div#hboverview div.gameInfo span span.indicator.tied {
	background-position: 0px 40px;
}

div#hboverview div.gameInfo span span.indicator.loss {
	background-position: 0px 60px;
}



div#hboverview div.gameInfo span.home {
	text-align: right;
}


@media (max-width: 767px) {
	
	div#hboverview div.gameInfo {
		flex-direction: column;
		align-items: flex-start;
		line-height: 1.5;
	}

	div#hboverview div.gameInfo span.team,
	div#hboverview div.gameInfo span.gameResult {
		display: inline-block;
	}	
	
	div#hboverview div.gameInfo span.gameResult  {
		width: 8em;
	}	
	
	div#hboverview div.gameInfo span.gameResult .indicator  {
		margin: -4px;
	}
}


/* Overview ALL and HOME */

div#hboverview-all h4,
div#hboverview-all p {
	padding: 0;
	margin: 0;
	}

div#hboverview-all table.HBschedule tr.odd{
	background: #eee;
	}

div#hboverview-all table.HBschedule th,
div#hboverview-all table.HBschedule td{
	padding: 0.1em 0.5em;
	}

div#hboverview-all table.HBschedule td.heim {
	font-weight: bold;
	}
