@charset "UTF-8";
@font-face {
  font-family: "IcoMoon";
  src: url("../../../media/jui/fonts/IcoMoon.eot");
  src: url("../../../media/jui/fonts/IcoMoon.eot?#iefix") format("embedded-opentype"), url("../../../media/jui/fonts/IcoMoon.woff") format("woff"), url("../../../media/jui/fonts/IcoMoon.ttf") format("truetype"), url("../../../media/jui/fonts/IcoMoon.svg#IcoMoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "IcoMoon";
  content: attr(data-icon);
  speak: none;
}

[class^=icon-],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 0.25em;
  line-height: 14px;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "IcoMoon";
  font-style: normal;
  speak: none;
}

[class^=icon-].disabled,
[class*=" icon-"].disabled {
  font-weight: normal;
}

.icon-joomla:before {
  content: "";
}

.icon-chevron-up:before,
.icon-uparrow:before,
.icon-arrow-up:before {
  content: "";
}

.icon-chevron-right:before,
.icon-rightarrow:before,
.icon-arrow-right:before {
  content: "";
}

.icon-chevron-down:before,
.icon-downarrow:before,
.icon-arrow-down:before {
  content: "";
}

.icon-chevron-left:before,
.icon-leftarrow:before,
.icon-arrow-left:before {
  content: "";
}

.icon-arrow-first:before {
  content: "";
}

.icon-arrow-last:before {
  content: "";
}

.icon-arrow-up-2:before {
  content: "";
}

.icon-arrow-right-2:before {
  content: "";
}

.icon-arrow-down-2:before {
  content: "";
}

.icon-arrow-left-2:before {
  content: "";
}

.icon-arrow-up-3:before {
  content: "";
}

.icon-arrow-right-3:before {
  content: "";
}

.icon-arrow-down-3:before {
  content: "";
}

.icon-arrow-left-3:before {
  content: "";
}

.icon-menu-2:before {
  content: "";
}

.icon-arrow-up-4:before {
  content: "";
}

.icon-arrow-right-4:before {
  content: "";
}

.icon-arrow-down-4:before {
  content: "";
}

.icon-arrow-left-4:before {
  content: "";
}

.icon-share:before,
.icon-redo:before {
  content: "'";
}

.icon-undo:before {
  content: "(";
}

.icon-forward-2:before {
  content: "";
}

.icon-backward-2:before,
.icon-reply:before {
  content: "";
}

.icon-unblock:before,
.icon-refresh:before,
.icon-redo-2:before {
  content: "l";
}

.icon-undo-2:before {
  content: "";
}

.icon-move:before {
  content: "z";
}

.icon-expand:before {
  content: "f";
}

.icon-contract:before {
  content: "g";
}

.icon-expand-2:before {
  content: "h";
}

.icon-contract-2:before {
  content: "i";
}

.icon-play:before {
  content: "";
}

.icon-pause:before {
  content: "";
}

.icon-stop:before {
  content: "";
}

.icon-previous:before,
.icon-backward:before {
  content: "|";
}

.icon-next:before,
.icon-forward:before {
  content: "{";
}

.icon-first:before {
  content: "}";
}

.icon-last:before {
  content: "";
}

.icon-play-circle:before {
  content: "";
}

.icon-pause-circle:before {
  content: "";
}

.icon-stop-circle:before {
  content: "";
}

.icon-backward-circle:before {
  content: "";
}

.icon-forward-circle:before {
  content: "";
}

.icon-loop:before {
  content: "";
}

.icon-shuffle:before {
  content: "";
}

.icon-search:before {
  content: "S";
}

.icon-zoom-in:before {
  content: "d";
}

.icon-zoom-out:before {
  content: "e";
}

.icon-apply:before,
.icon-edit:before,
.icon-pencil:before {
  content: "+";
}

.icon-pencil-2:before {
  content: ",";
}

.icon-brush:before {
  content: ";";
}

.icon-save-new:before,
.icon-plus-2:before {
  content: "]";
}

.icon-minus-sign:before,
.icon-minus-2:before {
  content: "^";
}

.icon-delete:before,
.icon-remove:before,
.icon-cancel-2:before {
  content: "I";
}

.icon-publish:before,
.icon-save:before,
.icon-ok:before,
.icon-checkmark:before {
  content: "G";
}

.icon-new:before,
.icon-plus:before {
  content: "*";
}

.icon-plus-circle:before {
  content: "";
}

.icon-minus:before,
.icon-not-ok:before {
  content: "K";
}

.icon-ban-circle:before,
.icon-minus-circle:before {
  content: "";
}

.icon-unpublish:before,
.icon-cancel:before {
  content: "J";
}

.icon-cancel-circle:before {
  content: "";
}

.icon-checkmark-2:before {
  content: "";
}

.icon-checkmark-circle:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-info-2:before,
.icon-info-circle:before {
  content: "";
}

.icon-question:before,
.icon-question-sign:before,
.icon-help:before {
  content: "E";
}

.icon-question-2:before,
.icon-question-circle:before {
  content: "";
}

.icon-notification:before {
  content: "";
}

.icon-notification-2:before,
.icon-notification-circle:before {
  content: "";
}

.icon-pending:before,
.icon-warning:before {
  content: "H";
}

.icon-warning-2:before,
.icon-warning-circle:before {
  content: "";
}

.icon-checkbox-unchecked:before {
  content: "=";
}

.icon-checkin:before,
.icon-checkbox:before,
.icon-checkbox-checked:before {
  content: ">";
}

.icon-checkbox-partial:before {
  content: "?";
}

.icon-square:before {
  content: "";
}

.icon-radio-unchecked:before {
  content: "";
}

.icon-radio-checked:before,
.icon-generic:before {
  content: "";
}

.icon-circle:before {
  content: "";
}

.icon-signup:before {
  content: "";
}

.icon-grid:before,
.icon-grid-view:before {
  content: "X";
}

.icon-grid-2:before,
.icon-grid-view-2:before {
  content: "Y";
}

.icon-menu:before {
  content: "Z";
}

.icon-list:before,
.icon-list-view:before {
  content: "1";
}

.icon-list-2:before {
  content: "";
}

.icon-menu-3:before {
  content: "";
}

.icon-folder-open:before,
.icon-folder:before {
  content: "-";
}

.icon-folder-close:before,
.icon-folder-2:before {
  content: ".";
}

.icon-folder-plus:before {
  content: "";
}

.icon-folder-minus:before {
  content: "";
}

.icon-folder-3:before {
  content: "";
}

.icon-folder-plus-2:before {
  content: "";
}

.icon-folder-remove:before {
  content: "";
}

.icon-file:before {
  content: "";
}

.icon-file-2:before {
  content: "";
}

.icon-file-add:before,
.icon-file-plus:before {
  content: ")";
}

.icon-file-minus:before {
  content: "";
}

.icon-file-check:before {
  content: "";
}

.icon-file-remove:before {
  content: "";
}

.icon-save-copy:before,
.icon-copy:before {
  content: "";
}

.icon-stack:before {
  content: "";
}

.icon-tree:before {
  content: "";
}

.icon-tree-2:before {
  content: "";
}

.icon-paragraph-left:before {
  content: "";
}

.icon-paragraph-center:before {
  content: "";
}

.icon-paragraph-right:before {
  content: "";
}

.icon-paragraph-justify:before {
  content: "";
}

.icon-screen:before {
  content: "";
}

.icon-tablet:before {
  content: "";
}

.icon-mobile:before {
  content: "";
}

.icon-box-add:before {
  content: "Q";
}

.icon-box-remove:before {
  content: "R";
}

.icon-download:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-home:before {
  content: "!";
}

.icon-home-2:before {
  content: "";
}

.icon-out-2:before,
.icon-new-tab:before {
  content: "";
}

.icon-out-3:before,
.icon-new-tab-2:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-picture:before,
.icon-image:before {
  content: "/";
}

.icon-pictures:before,
.icon-images:before {
  content: "0";
}

.icon-palette:before,
.icon-color-palette:before {
  content: "";
}

.icon-camera:before {
  content: "U";
}

.icon-camera-2:before,
.icon-video:before {
  content: "";
}

.icon-play-2:before,
.icon-video-2:before,
.icon-youtube:before {
  content: "V";
}

.icon-music:before {
  content: "W";
}

.icon-user:before {
  content: '"';
}

.icon-users:before {
  content: "";
}

.icon-vcard:before {
  content: "m";
}

.icon-address:before {
  content: "p";
}

.icon-share-alt:before,
.icon-out:before {
  content: "&";
}

.icon-enter:before {
  content: "";
}

.icon-exit:before {
  content: "";
}

.icon-comment:before,
.icon-comments:before {
  content: "$";
}

.icon-comments-2:before {
  content: "%";
}

.icon-quote:before,
.icon-quotes-left:before {
  content: "`";
}

.icon-quote-2:before,
.icon-quotes-right:before {
  content: "a";
}

.icon-quote-3:before,
.icon-bubble-quote:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-phone-2:before {
  content: "";
}

.icon-envelope:before,
.icon-mail:before {
  content: "M";
}

.icon-envelope-opened:before,
.icon-mail-2:before {
  content: "N";
}

.icon-unarchive:before,
.icon-drawer:before {
  content: "O";
}

.icon-archive:before,
.icon-drawer-2:before {
  content: "P";
}

.icon-briefcase:before {
  content: "";
}

.icon-tag:before {
  content: "";
}

.icon-tag-2:before {
  content: "";
}

.icon-tags:before {
  content: "";
}

.icon-tags-2:before {
  content: "";
}

.icon-options:before,
.icon-cog:before {
  content: "8";
}

.icon-cogs:before {
  content: "7";
}

.icon-screwdriver:before,
.icon-tools:before {
  content: "6";
}

.icon-wrench:before {
  content: ":";
}

.icon-equalizer:before {
  content: "9";
}

.icon-dashboard:before {
  content: "x";
}

.icon-switch:before {
  content: "";
}

.icon-filter:before {
  content: "T";
}

.icon-purge:before,
.icon-trash:before {
  content: "L";
}

.icon-checkedout:before,
.icon-lock:before,
.icon-locked:before {
  content: "#";
}

.icon-unlock:before {
  content: "";
}

.icon-key:before {
  content: "_";
}

.icon-support:before {
  content: "F";
}

.icon-database:before {
  content: "b";
}

.icon-scissors:before {
  content: "";
}

.icon-health:before {
  content: "j";
}

.icon-wand:before {
  content: "k";
}

.icon-eye-open:before,
.icon-eye:before {
  content: "<";
}

.icon-eye-close:before,
.icon-eye-blocked:before,
.icon-eye-2:before {
  content: "";
}

.icon-clock:before {
  content: "n";
}

.icon-compass:before {
  content: "o";
}

.icon-broadcast:before,
.icon-connection:before,
.icon-wifi:before {
  content: "";
}

.icon-book:before {
  content: "";
}

.icon-lightning:before,
.icon-flash:before {
  content: "y";
}

.icon-print:before,
.icon-printer:before {
  content: "";
}

.icon-feed:before {
  content: "q";
}

.icon-calendar:before {
  content: "C";
}

.icon-calendar-2:before {
  content: "D";
}

.icon-calendar-3:before {
  content: "";
}

.icon-pie:before {
  content: "w";
}

.icon-bars:before {
  content: "v";
}

.icon-chart:before {
  content: "u";
}

.icon-power-cord:before {
  content: "2";
}

.icon-cube:before {
  content: "3";
}

.icon-puzzle:before {
  content: "4";
}

.icon-attachment:before,
.icon-paperclip:before,
.icon-flag-2:before {
  content: "r";
}

.icon-lamp:before {
  content: "t";
}

.icon-pin:before,
.icon-pushpin:before {
  content: "s";
}

.icon-location:before {
  content: "c";
}

.icon-shield:before {
  content: "";
}

.icon-flag:before {
  content: "5";
}

.icon-flag-3:before {
  content: "";
}

.icon-bookmark:before {
  content: "";
}

.icon-bookmark-2:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-heart-2:before {
  content: "";
}

.icon-thumbs-up:before {
  content: "[";
}

.icon-thumbs-down:before {
  content: "\\";
}

.icon-unfeatured:before,
.icon-asterisk:before,
.icon-star-empty:before {
  content: "@";
}

.icon-star-2:before {
  content: "A";
}

.icon-featured:before,
.icon-default:before,
.icon-star:before {
  content: "B";
}

.icon-smiley:before,
.icon-smiley-happy:before {
  content: "";
}

.icon-smiley-2:before,
.icon-smiley-happy-2:before {
  content: "";
}

.icon-smiley-sad:before {
  content: "";
}

.icon-smiley-sad-2:before {
  content: "";
}

.icon-smiley-neutral:before {
  content: "";
}

.icon-smiley-neutral-2:before {
  content: "";
}

.icon-cart:before {
  content: "";
}

.icon-basket:before {
  content: "";
}

.icon-credit:before {
  content: "";
}

.icon-credit-2:before {
  content: "";
}

.icon-expired:before {
  content: "K";
}

.icon-edit:before {
  color: #24748c;
}

.icon-publish:before,
.icon-save:before,
.icon-ok:before,
.icon-save-new:before,
.icon-save-copy:before,
.btn-toolbar .icon-copy:before {
  color: #378137;
}

.icon-unpublish:before,
.icon-not-ok:before,
.icon-eye-close:before,
.icon-ban-circle:before,
.icon-minus-sign:before,
.btn-toolbar .icon-cancel:before {
  color: #942a25;
}

.icon-featured:before,
.icon-default:before,
.icon-expired:before,
.icon-pending:before {
  color: #c67605;
}

.icon-back:before {
  content: "";
}

@font-face {
  font-family: "icohb";
  src: url("fonts/icohb.eot?e4u2ud");
  src: url("fonts/icohb.eot?e4u2ud#iefix") format("embedded-opentype"), url("fonts/icohb.ttf?e4u2ud") format("truetype"), url("fonts/icohb.woff?e4u2ud") format("woff"), url("fonts/icohb.svg?e4u2ud#icohb") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-hb]::before, [class*=" icon-hb"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icohb" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hb-ball::before {
  content: "";
}

.icon-hb-image::before {
  content: "";
}

.icon-hb-images::before {
  content: "";
}

.icon-hb-profile::before {
  content: "";
}

.icon-hb-file-empty::before {
  content: "";
}

.icon-hb-files-empty::before {
  content: "";
}

.icon-hb-file-text2::before {
  content: "";
}

.icon-hb-file-picture::before {
  content: "";
}

div#teamupdate .icon-loop::before {
  color: #398137;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
div#teamupdate .spinner {
  position: relative;
}
div#teamupdate .spinner .btn {
  display: none;
}
div#teamupdate .spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 7px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}
div#teamupdate .table th.number,
div#teamupdate .table td.number {
  text-align: center;
}
div#teamupdate .updateStatus .icon-checkmark {
  color: #398137;
}
div#teamupdate .updateStatus .icon-warning {
  color: #bd362f;
}
div#teamupdate .updateStatus .indicator {
  display: none;
  margin-left: 10px;
}
div#teamupdate .updateStatus .details {
  display: none;
}
div#teamupdate .updateStatus .details ul {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
}
div#teamupdate .updateStatus .show {
  display: block;
}

@font-face {
  font-family: "digital-7";
  src: url("../css/fonts/digital-7.ttf");
}
@font-face {
  font-family: "digital-7-mono";
  src: url("../css/fonts/digital-7-mono.ttf");
}
div#hbteam #teaminfo {
  max-width: 800px;
}
div#hbteam #teampic {
  width: 98%;
}
div#hbteam #teampic img {
  margin-left: auto;
  margin-right: auto;
}
div#hbteam .hbschedule table,
div#hbteam .hbstandings table {
  width: 98%;
  max-width: 800px;
}
div#hbteam .hbschedule table tr:nth-child(even),
div#hbteam .hbstandings table tr:nth-child(even) {
  background: #f4f4f4;
}
div#hbteam .hbschedule table tr th, div#hbteam .hbschedule table tr td,
div#hbteam .hbstandings table tr th,
div#hbteam .hbstandings table tr td {
  padding: 0.2em 0.2em;
}
div#hbteam .hbschedule table tr .ownTeam,
div#hbteam .hbstandings table tr .ownTeam {
  font-weight: bold;
}
div#hbteam .hbschedule table tr .dots,
div#hbteam .hbstandings table tr .dots {
  padding: 0.2em 0em;
}
div#hbteam .hbschedule table tr .number,
div#hbteam .hbstandings table tr .number {
  text-align: center;
}
div#hbteam .hbschedule table tr .right,
div#hbteam .hbstandings table tr .right {
  text-align: right;
}
div#hbteam .hbschedule table tr .left,
div#hbteam .hbstandings table tr .left {
  text-align: left;
}
div#hbteam .hbschedule table tr .gym,
div#hbteam .hbstandings table tr .gym {
  font-size: 0.8em;
}
div#hbteam .hbschedule table + p,
div#hbteam .hbstandings table + p {
  text-align: right;
  font-size: 0.8em;
  margin-top: 0.2em;
  margin-right: 2em;
}
div#hbteam .hbhvwLink a {
  float: left;
}
div#hbteam .hbhvwLink p {
  margin-left: 120px;
  margin-left: -webkit-calc(100px + 1em);
  margin-left: calc(100px + 1em);
}

div#gamereports {
  /* remove standard-styles */
  /* styling */
  /* hide browser-styling (arrow) in IE10 */
}
div#gamereports select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
  width: 100%;
}
div#gamereports select {
  width: 90%;
  border: 1px solid #bbb;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  background-image: url(../images/select-arrow.png);
  background-position: right;
  background-repeat: no-repeat;
}
div#gamereports select:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
div#gamereports select::-ms-expand {
  display: none;
}
div#gamereports .lt-ie10 select {
  background-image: none;
}
div#gamereports .noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div#gamereports #gamegraphframe rect.section {
  fill: white;
  opacity: 0.05;
}
div#gamereports #gamegraphframe #gameInfo text {
  text-anchor: middle;
  fill: gray;
}
div#gamereports #gamegraphframe #gameInfo text.teams,
div#gamereports #gamegraphframe #gameInfo text.result {
  font-weight: bold;
  font-size: 13pt;
  fill: black;
}
div#gamereports #gamegraphframe #gameInfo text.home {
  text-anchor: end;
}
div#gamereports #gamegraphframe #gameInfo text.center {
  text-anchor: middle;
}
div#gamereports #gamegraphframe #gameInfo text.away {
  text-anchor: start;
}
div#gamereports #gamegraphframe g.tick text {
  font-family: "digital-7";
  font-size: 13pt;
}
div#gamereports #gamegraphframe text.score {
  font-family: "digital-7-mono";
  font-size: 13pt;
  cursor: default;
  text-anchor: start;
}
div#gamereports #gamegraphframe text.score.home {
  fill: #2D3891;
}
div#gamereports #gamegraphframe text.score.away {
  fill: red;
}
div#gamereports #gamegraphframe text.score.neutral {
  fill: black;
}
div#gamereports #gamegraphframe text.action {
  font-size: 8pt;
  cursor: default;
  text-anchor: start;
}
div#gamereports #gamegraphframe path {
  stroke: #2D3891;
  stroke-width: 5;
  stroke-linejoin: round;
  fill: none;
}
div#gamereports #gamegraphframe .axis line,
div#gamereports #gamegraphframe .axis path {
  fill: none;
  stroke: grey;
  stroke-width: 2;
}
div#gamereports #gamegraphframe .goaldot {
  fill: #2D3891;
  stroke: #2D3891;
  stroke-width: 4;
}
div#gamereports #gamegraphframe .goaldot.showGoal {
  visibility: hidden;
}
div#gamereports #gamegraphframe .center-line {
  stroke: grey;
  stroke-width: 2;
}
div#gamereports #gamegraphframe .halftime-line {
  stroke: lightgrey;
  stroke-width: 4;
}
div#gamereports #gamegraphframe .grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
div#gamereports #gamegraphframe .grid path {
  stroke-width: 0;
}
div#gamereports #gamegraphframe .hideactiontag {
  visibility: hidden;
}
div#gamereports #gamegraphframe .actionTagItem text {
  text-anchor: end;
  font-size: 9pt;
}
div#gamereports #gamegraphframe .actionTagItem text.name {
  font-weight: bold;
}
div#gamereports #gamegraphframe .actionTagItem text.time {
  font-family: digital-7;
  font-size: 13pt;
}
div#gamereports #gamegraphframe .axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div#gamereports #gamegraphframe .axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}
div#gamereports #gamegraphframe .slider .handle path {
  stroke: #2D3891;
  stroke-width: 10px;
  stroke-linecap: round;
  pointer-events: none;
}
div#gamereports #gamegraphframe .sliderbox text {
  visibility: hidden;
}
div#gamereports #gamegraphframe #scoreboard rect.background {
  fill: #111;
}
div#gamereports #gamegraphframe #scoreboard rect.frame {
  fill: #aaa;
}
div#gamereports #gamegraphframe #scoreboard text.team {
  font-size: 10pt;
  fill: #aaa;
  text-anchor: end;
}
div#gamereports #gamegraphframe #scoreboard text.diget {
  font-family: "digital-7-mono";
  font-size: 30pt;
  fill: yellow;
  text-anchor: end;
}
div#gamereports #gamegraphframe #scoreboard text.time {
  text-anchor: middle;
}
div#gamereports #gamegraphframe #scoreboard text.diget.bg {
  fill: #333;
}
div#gamereports #gamegraphframe #playerprofiles .action.number {
  font-size: 18pt;
  font-weight: bold;
  cursor: default;
  text-anchor: end;
}
div#gamereports #gamegraphframe #playerprofiles text.bg {
  fill: #FDDF12;
}
div#gamereports #gamegraphframe #playerprofiles text.fg {
  fill: #2D3891;
}
div#gamereports #gamegraphframe #playerprofiles .profile.name {
  font-size: 10pt;
  font-weight: bold;
  fill: black;
  text-anchor: start;
}
div#gamereports #gamegraphframe .icons * {
  stroke: none;
}
div#gamereports #gamegraphframe .icons .redcard {
  fill: #cc0000;
}
div#gamereports #gamegraphframe .icons .yellowcard {
  fill: #FDDF12;
}
div#gamereports #gamegraphframe .icons .suspension {
  fill: #777;
}
div#gamereports #gamegraphframe .icons g.ball * {
  stroke: #888;
  stroke-width: 1px;
}
div#gamereports #gamegraphframe .icons g.ball circle {
  fill: #aaa;
}
div#gamereports #gamegraphframe .icons text.sevenicon {
  font-weight: bold;
  stroke-width: 0.5px;
  stroke: #333;
  fill: #333;
  font-size: 10pt;
}

#goals div#playertable #gameSelect {
  display: inline-block;
  margin-right: 20px;
}
#goals div#playertable #gameSelect #selectedGame {
  display: none;
}
#goals div#playertable #gameSelect ul {
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #fff;
}
#goals div#playertable #gameSelect ul li {
  border-bottom: 2px solid #fff;
  background: #ddd;
  color: #aaa;
  height: 1.75em;
  cursor: pointer;
}
#goals div#playertable #gameSelect ul li.played {
  color: #333;
}
#goals div#playertable #gameSelect ul li.played:hover {
  background: #FDDF12;
}
#goals div#playertable #gameSelect ul li.selectedGame {
  background: #2D3891;
  color: #fff;
}
#goals div#playertable #gameSelect ul span {
  display: inline-block;
}
#goals div#playertable #gameSelect ul span.date {
  min-width: 7em;
}
#goals div#playertable #gameSelect ul span.gameName {
  min-width: 11em;
}
#goals div#playertable #gameSelect ul span.result {
  min-width: 4em;
}
#goals div#playertable table tr.grayout td {
  color: #bbb;
}
#goals div#playertable table #toggleSwitch {
  cursor: pointer;
}
#goals div#playertable table .buffer {
  color: transparent;
  border-right: 1px solid #ddd;
  width: 0px;
  padding-left: 0;
  padding-right: 0;
}
#goals div#playertable table .sofar.hidden {
  display: none;
}
#goals div#playertable table .total.hidden {
  display: none;
}
#goals #hbgoalchart_chartmode {
  padding-bottom: 0;
  padding-left: 40px;
  border: 0;
}
#goals #hbgoalchart_chartmode .chartmodebox {
  display: inline-block;
  padding-left: 30px;
}
