// hbmanager css site

@import 'icomoon';
@import 'icohb';

$hkog-yellow: #FDDF12;
$hkog-blue: #2D3891;

div#teamupdate {
	

	.icon-loop::before {
    	color: #398137;
	}

	@keyframes spinner {
		to {transform: rotate(360deg);}
	}

	.spinner { 
		position: relative; 

		.btn {
			display: none;
		}
	}
	 
	.spinner:before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		width: 15px;
		height: 15px;
		margin-left: 7px;
		border-radius: 50%;
		border: 2px solid #ccc;
		border-top-color: #333;
		animation: spinner .6s linear infinite;
	}
	
	.table th.number, 
	.table td.number {
		text-align: center;
	}

	.updateStatus {

		
		.icon-checkmark {
			color: #398137;
		}

		.icon-warning {
			color: #bd362f;
		}

		.indicator {
			display: none;
			margin-left: 10px;
		}

		.details {
			display: none;

			ul {
				list-style-type: none;
				margin: 0 0 0 10px;
				padding: 0; 
				// TODO: fix hkog.css 287 and 271 for menu, ol, ul { padding and margin } to be more specific
			}
		}

		.show {
			display: block;
		}
	}								

}

@font-face {
  font-family: 'digital-7';
  src: url("../css/fonts/digital-7.ttf");
}

@font-face {
  font-family: 'digital-7-mono';
  src: url("../css/fonts/digital-7-mono.ttf");
}

div#gamereports {

	/* remove standard-styles */
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border:none;
		border-radius: 0;
		font-size: 1em;
		width: 100%
		} 

	/* styling */
	select {
		width:90%;
		border: 1px solid #bbb;
		box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
		background-color:white;
		background-image:url(../images/select-arrow.png);
		background-position: right;
		background-repeat: no-repeat;
	}

	select:hover {
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	}

	/* hide browser-styling (arrow) in IE10 */
	select::-ms-expand {
		display:none;
	}

	.lt-ie10 select {
		background-image: none;
	}



	
	.noselect {
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
	}

	#gamegraphframe {

		// background: gray;
		// border: 1px solid gray;
		// width: 800px;

		rect.section {
			fill: white;
			opacity: 0.05;
		}

		
		#gameInfo {
			text {
			  text-anchor: middle;
			  fill: gray;
			}

			text.teams,
			text.result {
			  font-weight: bold;
			  font-size: 13pt;
			  fill: black;
			}

			text.home {
			  text-anchor: end;
			}

			text.center {
			  text-anchor: middle;
			}

			text.away {
			  text-anchor: start;
			}
		}

		// TODO solve problem with colon in time 
		g.tick text {
		  font-family: 'digital-7';
		  font-size: 13pt;
		}

		text.score {
		  font-family: 'digital-7-mono';
		  font-size: 13pt;
		  cursor: default;
		  text-anchor: start;
		}


		text.score.home {
		  fill: $hkog-blue;
		}

		text.score.away {
		  fill: red;
		}

		text.score.neutral {
		  fill: black;
		}

		text.action {
		  font-size: 8pt;
		  cursor: default;
		  text-anchor: start;
		}

		path {
		  stroke: $hkog-blue;
		  stroke-width: 5;
		  stroke-linejoin: round;
		  fill: none;
		}

		.axis line,
		.axis path {
		  fill: none;
		  stroke: grey;
		  stroke-width: 2;
		}

		.goaldot {
		  fill: $hkog-blue;
		  stroke: $hkog-blue;
		  stroke-width: 4;
		}

		.goaldot.showGoal {
		  visibility: hidden;
		}

		.center-line {
		  stroke: grey;
		  stroke-width: 2;
		}

		.halftime-line {
		  stroke: lightgrey;
		  stroke-width: 4;
		}

		.grid .tick {
		  stroke: lightgrey;
		  opacity: 0.7;
		}

		.grid path {
		  stroke-width: 0;
		}

		.hideactiontag {
		  visibility: hidden;
		}

		.actionTagItem text {
		  text-anchor: end;
		  font-size: 9pt;
		}

		.actionTagItem text.name {
		  font-weight: bold;
		}

		.actionTagItem text.time {
		  font-family: digital-7;
		  font-size: 13pt;
		}

		.axis {
		  fill: gray;
		  -webkit-user-select: none;
		     -moz-user-select: none;
		      -ms-user-select: none;
		          user-select: none;
		}

		.axis .halo {
		  stroke: gray;
		  stroke-width: 4px;
		  stroke-linecap: round;
		}

		.slider .handle path {
		  stroke: $hkog-blue;
		  stroke-width: 10px;
		  stroke-linecap: round;
		  pointer-events: none;
		}

		.sliderbox text {
		  visibility: hidden;
		}

		#scoreboard {
			rect.background {
			  fill: #111;
			}

			rect.frame {
			  fill: #aaa;
			}

			text.team {
			  font-size: 10pt;
			  fill: #aaa;
			  text-anchor: end;
			}

			text.diget {
			  font-family: 'digital-7-mono';
			  font-size: 30pt;
			  fill: yellow;
			  text-anchor: end;
			}

			text.time {
			  text-anchor: middle;
			}

			text.diget.bg {
			  fill: #333;
			}
		}

		#playerprofiles {
			.action.number {
			  font-size: 18pt;
			  font-weight: bold;
			  cursor: default;
			  text-anchor: end;
			}

			text.bg {
			  fill: $hkog-yellow;
			}

			text.fg {
			  fill: $hkog-blue;
			}

			.profile.name {
			  font-size: 10pt;
			  font-weight: bold;
			  fill: black;
			  text-anchor: start;
			}
		}

		.icons {
			* {
			  stroke: none;
			}

			.redcard {
			  fill: #cc0000;
			}

			.yellowcard {
			  fill: $hkog-yellow;
			//   fill: #FDDF12;
			}

			.suspension {
			  fill: #777;
			}

			g.ball * {
			  stroke: #888;
			  stroke-width: 1px;
			}

			g.ball circle {
			  fill: #aaa;
			}

			text.sevenicon {
			  font-weight: bold;
			  stroke-width: 0.5px;
			  // stroke: $hkog-blue;
			  // fill: $hkog-blue;
			  stroke: #333;
			  fill: #333;
			  font-size: 10pt;
			}
		}
	}
}

#goals {
	div#playertable {

		#gameSelect {
			float: left;
			dislay: inline-block;
			margin-right: 20px;

			#selectedGame {
				display: none;
			}

			ul {
				list-style-type: none;
				padding: 0;
				border-top: 1px solid #fff;

				li {
					border-bottom: 2px solid #fff;
					background: #ddd;
					color: #aaa;
					height: 1.75em;
					cursor: pointer;

					&.played {
						color: #333;
						&:hover {
							background: $hkog-yellow;
						}
					}
					
					&.selectedGame {
						background: $hkog-blue;
						color: #fff;
					}
				}

				span {
					display: inline-block;
				}

				span.date {
					min-width: 7em;
				}
				
				span.gameName {
					min-width: 11em;
				}
				
				span.result {
					min-width: 4em;		
				}
			}
		}

		table {
			tr.grayout {
				td {
					color: #bbb;
				}
			}

			#toggleSwitch {
				cursor: pointer;
			}

			.buffer {
				color: transparent;
				border-right: 1px solid #ddd;
				width: 0px;
				padding-left: 0;
				padding-right: 0;
			}

			.sofar.hidden {
				display: none;
			}

			.total.hidden {
				display: none;
			}
		}
	}

	#hbgoalchart_chartmode {
		padding-bottom: 0;
		padding-left: 40px;
		border: 0;

		.chartmodebox {
			display: inline-block;
			float: left;
			padding-left: 30px;
		}


	}
}

