<?xml version="1.0" encoding="utf-8"?>

<config>
	<fieldset
		name="hvwinfo"
		label="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_LABEL"
		description="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_DESC"
	>
		<field 
			name="hvwurl" 
			type="url" 
			default="http://www.hvw-online.org/index.php?id=39&amp;orgID=11&amp;A=g_org&amp;nm=0" 
			label="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_HVW_LABEL" 
			description="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_HVW_DESC" 
			size="100" 
		/>
		
		<field 
			name="hvwurl" 
			type="url" 
			default="http://www.hvw-online.org/index.php?id=39&amp;orgID=11&amp;A=g_org&amp;nm=0" 
			label="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_HVW_LABEL" 
			description="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_HVW_DESC" 
			size="100" 
		/>
		
		<field 
			name="clubindicator" 
			type="text" 
			default="Geisl" 
			label="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_CLUB_INDICATOR_LABEL" 
			description="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_CLUB_INDICATORURL_DESC" 
			size="10"
		/>
		
		<field 
			name="urlyear" 
			type="text" 
			default="2015" 
			label="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_URL_YEAR_LABEL" 
			description="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_URL_YEAR_DESC" 
			size="10"
		/>
		
		<field 
			name="emaildomain" 
			type="text" 
			default="" 
			label="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_EMAIL_DOMAIN_LABEL" 
			description="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_EMAIL_DOMAIN_DESC" 
			size="15"
		/>
		
		<field 
			name="urlstartdate" 
			type="calendar" 
			default="2015-10-01" 
			label="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_URL_STARTDATE_LABEL" 
			description="COM_HBMANAGER_CONFIG_CLUB_SETTINGS_URL_STARTDATE_DESC" 
			format="%Y-%m-%d" 
		/>
	</fieldset>
	
	<fieldset
		name="teammenus"
		label="COM_HBMANAGER_CONFIG_TEAMMENU_SETTINGS_LABEL"
		description="COM_HBMANAGER_CONFIG_TEAMMENU_SETTINGS_DESC"
	>
		<field 
			name="menuActive" 
			type="sql" 
			default="" 
			label="COM_HBMANAGER_CONFIG_TEAMMENU_SETTINGS_ADULT_TEAMS_LABEL" 
			description="COM_HBMANAGER_CONFIG_TEAMMENU_SETTINGS_ADULT_TEAMS_DESC"
			query="SELECT `id`, `alias`, `title` FROM #__menu WHERE `level` &lt;= 2 AND `access` = 1" 
			key_field="id" 
			value_field="title"
		>
			<option value="">Please select your option</option>
		</field>
		
		<field 
			name="menuYouth" 
			type="sql" 
			default="ONLY1" 
			label="COM_HBMANAGER_CONFIG_TEAMMENU_SETTINGS_YOUTH_TEAMS_LABEL" 
			description="COM_HBMANAGER_CONFIG_TEAMMENU_SETTINGS_YOUTH_TEAMS_DESC"
			query="SELECT `id`, `alias`, `title` FROM #__menu WHERE `level` &lt;= 2 AND `access` = 1" 
			key_field="id" 
			value_field="title"
		>
			<option value="ONLY1">ONLY_ONE</option>
		</field>
	</fieldset>
</config>