// hbmanager css admin

@import 'icohb';


#teamdata .icon-loop::before,
.updateTeams .icon-loop::before {
    color: #398137;
}

// span.icon-update {
// 	background-image: url(../images/update.png);
// }

#teamdata {

	@keyframes spinner {
		to {transform: rotate(360deg);}
	}

	.spinner { 
		position: relative; 

		.btn {
			display: none;
		}
	}
	 
	.spinner:before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		width: 15px;
		height: 15px;
		margin-left: 7px;
		border-radius: 50%;
		border: 2px solid #ccc;
		border-top-color: #333;
		animation: spinner .6s linear infinite;
	}

	.updateStatus {

		
		.icon-checkmark {
			color: #398137;
		}

		.icon-warning {
			color: #bd362f;
		}

		.indicator {
			display: none;
			margin-left: 10px;
		}

		.details {
			display: none;

			ul {
				list-style-type: none;
				margin-left: 10px;
			}
		}

		.show {
			display: block;
		}
	}								

}

#gamedatesForm {
	dl,dt,dd {
		margin: 0;
		display: inline-block;
	}	

	dl {
		margin-bottom: 2em;
	}

	dt {
		margin-right: 0.5em;
	}	
	dd {
		margin-right: 3em;
	}

	label, select {
		padding: 4px 6px;
		margin: 0;
	}

}

#gamesnext,
#gamesprev {

	td.report {
		textarea {
			width: auto;
		}
	}



}

#printnews {
	
	.printsheet {
		background: #fcfcfc;
		margin: 1em;
		padding: 1em;
		border: 1px solid #ddd;
		box-shadow: 5px 5px 5px gray;
		width: 33em;
		text-align: justify;
	}
}

#gamedetails {

	#modal-confirm .modal-body {
		max-height: 500px;
		overflow: scroll;
	}

	#import-preview {
		margin: 1em 2em;
		padding: 0.5em;
		margin-bottom: 5em;

		table {
			tr {
				border-bottom: 1px solid #ddd;
			}

			tr:nth-child(even) {
				background: #eee;
			}
			tr:nth-child(odd) {
				
			}

			td {
				padding: 0.1em 0.25em;

			}
		}
	}

}

#gamesall,
#gameshome {

	h4 {
		margin-top: 3em;
	}

	table.schedule {
		min-width: 40em;

		tr:nth-child(even) {
			background: #eee
		}
		tr:nth-child(odd) {
			// background: #FFF
		}

		td {
			padding: 0.1em 0.5em
		}
	}
}

#hbemails {
	textarea {
		width: 95%;
		max-width: 50rem;
	}
}